.h-\[500px\] {
  height: 500px
}

.w-\[500px\] {
  width: 500px
}

.bg-orange-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}
